*
{
    box-sizing: border-box;
}
body
{
    background-color: linen;
    color: black;
}
.container
{
    height: 500px;
    width: 500px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction:row;
    gap: 5px;
    
}
.child
{
    height: 100px;
    width: 100px;
    color: white;
    background-color: brown;
    border: 1px solid white;
    
}