*
{
    border: 1px solid black;
    font-family:'Nunito', sans-serif ;
    box-sizing: border-box;
}
h1
{
    text-align: center;
    margin: 20px;
    padding: 50px;
    text-decoration: underline;
    text-transform: lowercase;
    text-decoration-color: blue;
    background:radial-gradient(blue,red,yellow,red,green,blue,red,yellow,red,green,blue,red,yellow,red,green);
    opacity: 0.6;  
}
p
{
    text-transform: capitalize;

}
div
{

}
a
{
    background-color: aqua;
    text-decoration: none;
   
}
.firstDiv{
    background-color: antiquewhite;
    box-sizing: border-box;
    padding: 20px;
}
.menu
{
    float: right;
}
#   